body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffcd05cc;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cards em várias fileiras */
    gap: 20px; /* Espaçamento entre os cards */
}   

.pokemon-info {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
}

/* Mantenha suas regras CSS existentes... */
.pokemon-card .content h2 {
    margin-top: 10px; /* Espaçamento para o nome do Pokémon */
}

/* Adicione uma classe para os cards dos Pokémon */
.pokemon-card {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 300px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;

    background-color: #fff;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
}


.pokemon-card:hover {
    height: 400px;
}

.pokemon-card .img-box {
    position: absolute;
    width: 250px;
    height: 250px; /* Mantenha a altura igual à largura para manter a proporção */
    top: 0px;
    transition: 0.5s;
    overflow: hidden; /* Evita que a imagem seja cortada se for maior que o contêiner */
}

.pokemon-card:hover .img-box {
    top: -120px;
    scale: 0.75;
}

.pokemon-card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensiona a imagem para cobrir o contêiner */
    object-position: center; /* Centraliza a imagem no contêiner */
}
.pokemon-card .content {
    display: flex;
    flex-direction: column;
    gap: 7px; /* Reduz o espaçamento entre os elementos */
    position: absolute;
    top: 250px;
    width: 76%;
    padding: 0px 30px;
    text-align: center;
    height: 0; /* Começa com altura zero */
    overflow: hidden;
    transition: 0.5s;

}

.pokemon-card:hover .content {
    top: 130px;
    height: auto; /* Define altura automática para exibir o conteúdo */
 
    
}


.pokemon-card .read-more {
    margin-top: auto; /* Empurra o botão para baixo */
    background: linear-gradient(90deg, #3730a3, #7e22ce);
    padding: 8px 12px; /* Ajusta o espaçamento do botão */
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease; /* Efeito de transição suave */
    
}
/* Estilo básico para o input de pesquisa */
#search-input {
    padding: 10px;
    border: none;
    margin-top: 4px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    transition: box-shadow 0.3s ease;
}

/* Efeito de destaque quando o input é focado */
#search-input:focus {
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilizando o placeholder */
#search-input::placeholder {
    color: #999;
}

/* Estilo para a mensagem de "Pokémon não encontrado" */
#not-found {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.pokemon-type {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
}
/* Estilos para o container dos filtros */
.filter-container {
    margin-bottom: 83px;
    margin-top: 2px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* Estilos para os checkboxes */
.type-filter-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.type-filter-label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #333;
    border-radius: 4px;
    margin-right: 8px;
}

.type-filter-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.type-filter-input:checked + .type-filter-label::before {
    background-color: #007bff;
    border-color: #007bff;
}

/* Estilos para destacar os checkboxes selecionados */
.type-filter-label:hover::before {
    border-color: #007bff;
}

.type-filter-input:checked + .type-filter-label:hover::before {
    background-color: #0056b3;
}

/* Sobreposição de fundo escuro */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Estilo do conteúdo do modal */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Botão para fechar o modal */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
